{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Comatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="{% static 'styles.css' %}" rel="stylesheet">

    <title>CMC</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto mt-5">
                <h3 class="mb-5">Cryptocurrencies</h3>
                {% verbatim %}
               <div id="app">
                    <table class="table table-hover">
                        <head>
                            <tr>
                                <th scope="col">Rank</th>
                                    <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                            </tr>
                        </head>
                        <tbody>
                                <tr v-for="coin in coins" :key="coin.id">
                                    <td class="align-middle">{{ coinrank }}</td>
                                    <td class="align-middle">
                                        <img :src="coin.image" class="px-2" width="50">
                                        {{ coin.name }}
                                        <small class="text-muted px-2">{{ coin.symbol }}</small>
                                    </td>
                                    <td class="align-middle">{{ coin.price }}</td>
                                </tr>
                        </tbody>
                    </table>
                </div>
                {% endverbatim %}
            </div>
        </div>
    </div>

<script>
    const{ createApp } = Vue;

    const CoinsApp = {
        data(){
            return {
                
                coin: 'just a coin',
                coins: null
            }
        },
        created(){
            const socket = new WebSocket(`ws://${window.location.host}/ws/coins/`);

            let _this = this;

            socket.onmessage = function(event){
                _this.coins = JSON.parse(event.data);
                console.log(_this.coins);

            }
        }
    }

    createApp(CoinsApp).mount('#app')
</script>
</body>
</html>